<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" type="text/css">
<link href="plugins/bootstrap-datatable/css/buttons.bootstrap4.min.css"
	rel="stylesheet" type="text/css">
<title>All Users</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row pt-2 pb-2">
			<div class="col-sm-5">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page"></li>
				</ol>
			</div>
		</div>
		<div th:if="${message}" class="alert alert-danger alert-dismissible"
			role="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<div class="alert-icon">
				<i class="fa fa-check"></i>
			</div>
			<div class="alert-message">
				<span th:text="${message}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="form-header text-uppercase">
							<i class="fa fa-user"></i> Link Officer List
						</h4>
						<div class="form-group row">
							<table class="table table-responsive" id="userTable">
								<thead class="bg-info text-white">
									<tr>
										<th>S.No.</th>
										<th>Regular Officer</th>
										<th>Link Officer</th>
										<th>From Date</th>
										<th>To Date</th>
										<!-- <th>Status</th> -->
										<th>Action</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="p,stats: ${linkofficerList}">
										<td th:text="${stats.count}"></td>
										<td><th:block th:if="${p.regularId.firstName != null}">
												<span class="text-wrap" th:text="${p.regularId.firstName}"></span>
											</th:block> <th:block th:if="${p.regularId.middleName != null}">
												<span class="text-wrap" th:text="${p.regularId.middleName}"></span>
											</th:block> <th:block th:if="${p.regularId.lastName != null}">
												<span class="text-wrap" th:text="${p.regularId.lastName}"></span>
											</th:block></td>
										<td><th:block th:if="${p.userDetails.firstName != null}">
												<span class="text-wrap" th:text="${p.userDetails.firstName}"></span>
											</th:block> <th:block th:if="${p.userDetails.middleName != null}">
												<span class="text-wrap"
													th:text="${p.userDetails.middleName}"></span>
											</th:block> <th:block th:if="${p.userDetails.lastName != null}">
												<span class="text-wrap" th:text="${p.userDetails.lastName}"></span>

											</th:block></td>
										<td class="text-wrap"
											th:text="${#dates.format(p.fromDate,'dd/MM/YYYY ')}"></td>
										<td class="text-wrap"
											th:text="${#dates.format(p.toDate,'dd/MM/YYYY')}"></td>
										<!-- <td>
											<th:block th:if= "${p.isActive == true}">
											<span class="text-wrap">Active</span>
											</th:block>
											<th:block th:if= "${p.isActive== false}">
											<span class="text-wrap">Deactivate</span>
											</th:block>
											</td> -->
										<td>
											<form th:action="@{/DeactivateLink}" method="post"
												autocomplete="off">
												<th:block
													th:if="${p.isActive == true and not p.toDate.after(#dates.format(#dates.createNow(),'YYYY/MM/dd'))}">
													<button class="btn btn-danger text-wrap" type="submit"
														th:name="Deactvuser" th:value="${p.id}">Deactivate
														Link Officer</button>
												</th:block>
												<th:block
													th:if="${p.isActive == true and  p.toDate.after(#dates.format(#dates.createNow(),'YYYY/MM/dd'))}">
													<button class="btn btn-danger text-wrap" type="submit"
														th:name="Deactvuser" th:value="${p.id}">Deactivate
														Link Officer</button>
												</th:block>
												<th:block th:if="${p.isActive == false}">
													<span class="text-wrap text-danger font-weight-bold">
														Deactivated</span>
												</th:block>

												<th:block
													th:if="${p.toDate.before(#dates.format(#dates.createNow(),'YYYY/MM/dd')) and p.isActive == true}">
													<span class="text-wrap text-danger font-weight-bold">
														Deactivated</span>
												</th:block>
											</form>
										</td>
									</tr>
								</tbody>

							</table>
						</div>


					</div>

				</div>
			</div>
		</div>
		<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
		<script
			src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {

				var table = $('#userTable').DataTable({
					//		 	        lengthChange: false,
					buttons : [ 'copy', 'excel', 'pdf', 'print', 'colvis' ]
				});
			});
		</script>
	</div>

</body>
</html>