<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add Persons</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="row pt-2 pb-2">
			<div class="col-sm-8">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="getCaseList">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Add
						Person</li>
				</ol>
			</div>
		</div>
		<form th:action="@{/updatePersoncomp}" method="post"
			th:object="${rpc}" id="createpersonForm">
			
			<div class="form-group row" th:if="${errorCaseID}">
				<span th:text="${errorCaseID}" class="text-danger "></span>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="form-header text-uppercase">
								<i class="fa fa-briefcase"></i> Edit person/company Details
							</h4>



							
							<div class="form-group row">
								<label for="input-10" class="col-sm-2 col-form-label">Case
									ID : </label>
								<div class="col-sm-4">
									<label class="col-sm-10 col-form-label text-primary"> <span
										th:text="${rpc.caseDetails.caseId}"></span>
									</label>
								</div>

								<label for="input-10" class="col-sm-2 col-form-label">Case
									Title : </label>
								<div class="col-sm-4">
									<label class="col-sm-10 col-form-label text-primary"> <span
										th:text="${rpc.caseDetails.caseTitle}"></span>
									</label>

								</div>

							</div>
							<div class="form-group row">
								<label for="input-10" class="col-sm-2 col-form-label">Name:
								</label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span th:text="${rpc.personDetails.fullName}"></span>
										</label>
									
								</div>
								<label for="input-10" class="col-sm-2 col-form-label">Gender:
								</label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span th:text="${rpc.personDetails.Gender}"></span>
										</label>
									
								</div>
							</div>
							<div class="form-group row">
								<label for="input-10" class="col-sm-2 col-form-label">
									FATHER'S NAME </label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span th:text="${rpc.personDetails.RelationName}"></span>
										</label>
									
								</div>
								<label for="input-16" class="col-sm-2 col-form-label">Date
									of Birth </label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span
											th:text="${	#dates.format(rpc.personDetails.dob,'dd/MM/YYYY ')}"></span>
										</label>

									
								</div>
							</div>

							<div class="form-group row">

								<label for="input-16" class="col-sm-2 col-form-label">OFFICIAL
									EMAIL ID </label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span th:text="${rpc.personDetails.email}"></span>
										</label>
									
								</div>
								<label for="input-16" class="col-sm-2 col-form-label">
									Mobile NO </label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span th:text="${rpc.personDetails.primaryMobile}"></span>
										</label>
									
								</div>


							</div>



							<div class="form-group row">

								<label for="input-14" class="col-sm-2 col-form-label">Pan
									Number </label>
								<div class="col-sm-4">
									<label class="col-sm-10 col-form-label text-primary"> <span
										th:text="${rpc.personDetails.panNumber}"></span>
									</label>
								</div>

								<label for="input-14" class="col-sm-2 col-form-label">Passport
									Number </label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span th:text="${rpc.personDetails.passportNumber}"></span>
										</label>
									
								</div>
							</div>

							<div class="form-group row">

								<label for="input-14" class="col-sm-2 col-form-label">Passport
									issue Date </label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span  th:text="${	#dates.format(rpc.personDetails.passportDate,'dd/MM/YYYY ')}"></span>
										</label>
									
								</div>
								<label for="input-14" class="col-sm-2 col-form-label">Voter
									Id </label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span th:text="${rpc.personDetails.voterId}"></span>
										</label>

									
								</div>
							</div>

							<div class="form-group row">
								<label for="input-10" class="col-sm-2 col-form-label">Company
									Name: </label>
								<div class="col-sm-4">
									<label class="col-sm-10 col-form-label text-primary"> <span
										th:text="${rpc.companySummon.companyName}"></span>
									</label>
								</div>

								<label for="input-10" class="col-sm-2 col-form-label">CIN:
								</label>
								<div class="col-sm-4">
									<label class="col-sm-10 col-form-label text-primary"> <span
										th:text="${rpc.companySummon.cin}"></span>
									</label>

								</div>

							</div>

							<div class="form-group row">
								<label for="input-10" class="col-sm-2 col-form-label">Email:
								</label>
								<div class="col-sm-4">
									<label class="col-sm-10 col-form-label text-primary"> <span
										th:text="${rpc.companySummon.email}"></span>
									</label>
								</div>

								<label for="input-10" class="col-sm-2 col-form-label">Address:
								</label>
								<div class="col-sm-4">
									<label class="col-sm-10 col-form-label text-primary"> <span
										th:text="${rpc.companySummon.address}"></span>
									</label>

								</div>

							</div>

							<div class="form-group row">
								<label for="input-10" class="col-sm-2 col-form-label">Company
									Type: </label>
								<div class="col-sm-4">
									<label class="col-sm-10 col-form-label text-primary"> <span
										th:text="${rpc.companySummon.companyType.name}"></span>
									</label>
								</div>

								<label for="input-10" class="col-sm-2 col-form-label">Designation
								</label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span
											th:text="${rpc.designation.designation}"></span>
										</label>
									
								</div>

							</div>

							<div class="form-group row">
								<label for="input-10" class="col-sm-2 col-form-label">IEC
								</label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span th:text="${rpc.Iec}"></span>
										</label>
									
								</div>

								<label for="input-10" class="col-sm-2 col-form-label">FRN
								</label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span th:text="${rpc.frn}"></span>
										</label>
								
										
								</div>

							</div>

							<div class="form-group row">
								<label for="input-10" class="col-sm-2 col-form-label">DATE
									OF APPOINTMENT </label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span
											th:text="${	#dates.format(rpc.dateAppointment,'dd/MM/YYYY ')}"></span>
										</label>
									
								</div>

								<label for="input-10" class="col-sm-2 col-form-label">DATE
									OF CESSATION </label>
								<div class="col-sm-4">
									
										<label class="col-sm-10 col-form-label text-primary">
											<span
											th:text="${	#dates.format(rpc.dateCessation,'dd/MM/YYYY ')}"></span>
										</label>
									
								</div>

							</div>

							<div class="form-group row">
								
									<label for="input-15" class="col-sm-2 col-form-label">Investigation
										Status<span class="text-danger">*</span>
									</label>
									<div class="col-sm-4">
										<label class="col-sm-10 col-form-label text-primary">
											<span
											th:text="${rpc.status.statusName}"></span>
										</label>
									</div>
								

							</div>


							<div class="form-footer">
								
							</div>




						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Add New
								Designation</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="recipient-name" class="col-form-label">Designation
										Name :</label> <input type="text" class="form-control"
										id="DesignatinName"
										th:field="*{personDetails.designationName}"
										 onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32) || (event.charCode==46)">
									<span id="DesignatinNameErr" class="text-danger"></span>
								</div>

							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary"
								onClick="savedDesignation()">Save</button>
						</div>
					</div>
				</div>
			</div>


		</form>

		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
		<script src="js/jquery-confirm.js"></script>
		<script th:inline="javascript">
		
		
$(document).ready(function(){
			
			debugger
			$('#AvoterBlock').hide();
			$('#ApassBlock').hide();
			if($('#aispass').val()=='Y'){
				 $("input[name=aifpass][value=" + $('#aispass').val() + "]").prop('checked', true);
					$('#ApassBlock').show();
              }else{
				var value = "N"
				 $("input[name=aifpass][value=" +value+ "]").prop('checked', true);
			}
			
			if($('#aisavoter').val()=='Y'){
				 $("input[name=aifvoter][value=" + $('#aisavoter').val() + "]").prop('checked', true);
					$('#AvoterBlock').show();
				
			}else{
				var value = "N"
				 $("input[name=aifvoter][value=" +value+ "]").prop('checked', true);
			}
			
			if($('#editperson').val()=="true"){
				$('#personBlock').show();
			}
			
			$('#uploadDate').datepicker({
				autoclose : true,
				todayHighlight : true,
				format : 'dd/mm/yyyy',
			});
			
			
			$('#dob').datepicker({
				format : 'dd/mm/yyyy',
				 maxDate :new Date()
			
			});

			$('#applicationDate').datepicker({
				autoclose : true,
				todayHighlight : true,
				format : 'dd/mm/yyyy',
			});
			
			$('#dateAppoit').datepicker({
				autoclose : true,
				todayHighlight : true,
				format : 'dd/mm/yyyy',
			});
			$('#dateCessa').datepicker({
				autoclose : true,
				todayHighlight : true,
				format : 'dd/mm/yyyy',
				 minDate: 0

			});
			$('#statusDate').datepicker({
				autoclose : true,
				todayHighlight : true,
				format : 'dd/mm/yyyy',
			});
			$('#lastPassportDate').datepicker({
				autoclose : true,
				todayHighlight : true,
				format : 'dd/mm/yyyy',
			});
			$('#passportDate').datepicker({
				autoclose : true,
				todayHighlight : true,
				format : 'dd/mm/yyyy',
				endDate: new Date(),
			});
});
		 function addnewpersoncase() {
			 
			 $("#largesizemodal").modal("hide");
			 
			
				$('#personBlock').show();
		}
	 $('#selectPerson').click(function(){
		 if($('#chooseComp').val()!=0){
			
			 var company=$('#chooseComp').val();
			    company  = company.replaceAll('&','@and@');
			    var caseId=$('#caseId').val();
		
			 var token = $("input[name=_csrf]").val();
			 var header = 'X-CSRF-TOKEN';
			
			 $(document).ajaxSend(function(e, xhr, options)
			{
			    xhr.setRequestHeader(header, token);
			}), 
			
			$('#personBlock').hide();
			$.ajax({
				 crossDomain: true,
			        type: "post",
			        url: "getpersonListBycompany?company="+company+"&caseId="+caseId,
			        contentType : "application/json; charset=utf-8",
			        dataType:"json",
			        /* data:{caseId:caseId
			        }, */
			        cache: false,
			        timeout: 600000,
			        success: function(data){
			        	/* alert(data) */
			        	 $("#largesizemodal").modal("show");
			        	
			        	 var html = '';
							var len = data.length;
							$('#companyTable').empty();
							for (var i = 0; i < len; i++) {
//								debugger
								var a = i+1;
								var isAdded=false;
								var trString='';
								$('#compsumid tr').each(function(j,v){ if($(this).children('td:eq(0)').text()==data[i][5]){
									isAdded=true };  }); 
								if(isAdded)
									trString = '<td><input type="button"  value = "Already Added" class = "btn btn-info" disabled="true"/></td></tr>';
								else
									trString ='<td><input type="button"  value = "ADD" class = "btn btn-success"  onclick = "addpersondetail(\'' + data[i][0] +'\',\''+data[i][1]+'\',\''+data[i][2]+'\',\''+data[i][3]+'\',\''+data[i][5]+'\')"/></td></tr>';	
										
									if(data[i][2]==null){
										data[i][2]='';
									}
									if(data[i][3]==null){
										data[i][3]='';
									}
								html += '<tr><td>'+a+'</td>'+
										
								
										'<td>'+data[i][0]+'</td>'+ 
										'<td>'+data[i][1]+'</td>'+
										
										'<td>'+data[i][2]+'</td>'+
										
										
										'<td>'+data[i][3]+'</td>'+
										'<td>'+data[i][7]+'</td>'+
										'<td>'+data[i][4]+'</td>'+
										
										trString;
										
							}
				        	$('#companyTable').append(html);
			  
			        	},
			        	
			 error : function(xhr, status, error) {
		       alert('NO DATA FOUND');
		  /*      $("#largesizemodal").modal("hide");*/
				 $('#compnayBlock').show(); 
				 
		      }
			 });
		 }else{
			 alert('Please select company');
		 }
	 });
	 
	 function addpersondetail(name,email,passportNumber,panNumber,summon_typeid) {
		 
	
  
		 $("#largesizemodal").modal("hide");
	
		 $("#fullName").attr("readonly", true); 
    	  $('#fullName').val(name)
    	  if(email!="")
    	  $("#email").attr("readonly", true); 
    	  $('#email').val(email)
		  
    	  if(passportNumber!="")
    	  $("#passportNumber").attr("readonly", true); 
    	  $('#passportNumber').val(passportNumber)
    	    
    	  
    	 if ( panNumber!="" ){
    	  $("#panNumber").attr("readonly", true); 
    	  $('#panNumber').val(panNumber)
    	    }
    	  if ( panNumber!=null ){
    		  $("#panNumber").attr("readonly", false); 
	    	  $('#panNumber').val('') 
    	  }
    	      else{
    	    	 $("#panNumber").attr("readonly", false); 
    	    	  $('#panNumber').val('')
    	    }
    	  
    	 $('#snms_summon_type_id').val(summon_typeid)
		$('#personBlock').show();
	} 
	 
	  $('#chooseComp').change(function(){
		
		var compName = $(this).val();
		 compName  = compName.replaceAll('&','@and@')
		var token = [[${_csrf.token}]];
		 var header = [[${_csrf.headerName}]];
		 $(document).ajaxSend(function(e, xhr, options)
		   {
			 xhr.setRequestHeader(header,token );
		   }), 
		  $.ajax({
		      type : "POST",
		      url : "getCompanyDetail?companyName=" + compName,
		      contentType : "application/json; charset=utf-8",		  
		      success : function(data) {
		    	
		    	  if(data[0]!=null){
		    	 $("#cin").attr("readonly", true); 
		    	  }else{
		    		  $("#cin").attr("readonly", false); 
				    	 	  
		    	  }
		        $("#cin").val(data[0]);
		        if(data[1]!=null){
		        $("#address").attr("readonly", true);
		        }
		        else{
		        $("#address").attr("readonly", false);
		        }
		        $("#address").val(data[1]);
		        
		        if(data[2]!=null){
		        $("#emailCompany").attr("readonly", true); 
		        }else{
		        	 $("#emailCompany").attr("readonly", false); 
		        }
		        $('#emailCompany').val(data[2]);
		        $("#compType").val(data[3]) 
		      },
		      error : function(jqXHR, textStatus, errorThrown) {
		        alert(textStatus);
		      }
	 }); 
});
		 $("input[name='aifvoter']").change(function() { 
			 
				
			 $('#aisavoter').val($('input:radio[name=aifvoter]:checked').val());
		
		if($(this).attr('id')=='AvoterY' )
		
			$('#AvoterBlock').show();
		
		
		else if($(this).attr('id')=='AvoterN')
			$('#AvoterBlock').hide();
		 
		 });
		 $("input[name='aifpass']").change(function() { 
			 $('#aispass').val($('input:radio[name=aifpass]:checked').val());

		if($(this).attr('id')=='ApassY' )
			$('#ApassBlock').show();


		else if($(this).attr('id')=='ApassN')
			$('#ApassBlock').hide();

		$('#vendorName').val('');

		});
	 $('#savecomp').click(function(e){
		 if($('#chooseComp').val()==0){
			 alert('Please choose Company');
			 e.preventDefault();
		 }
	 });
	 
	 $('#savedetail').click(function(){
		
		 $.confirm({
	  		    title: '',
	  		    content: 'Once You performed save you cannot edit Pan Number and Passport Number  Please check it once',
	  		    type: 'green',
	  		    typeAnimated: true,
	  		    buttons: {
	  		        tryAgain: {
	  		            text: 'Yes',
	  		            btnClass: 'btn-Success',
	  		            action: function(){
	  		            	$('#createpersonForm').attr('action', 'savepersondetails');
	  		  		 	
	  						$('#createpersonForm').submit();
	  				 
                                  
	  		    					 	  		            }
	  		        },
	  		        close: function () {
	  		        }
	  		    }
	  		});
		 		
	 });
	 $('#savecompdtl').click(function(){
		 if($('#chooseComp').val()!=0){
		 		$('#createpersonForm').attr('action', 'addCompany');
				$('#createpersonForm').submit();
		 }else{
			 alert('Please select company');
		 }
	 });
	 function editpersoncomp(compid) {
alert(compid);
			$.confirm({
	  		    title: '',
	  		    content: 'Are You sure you want to Edit ',
	  		    type: 'red',
	  		    typeAnimated: true,
	  		    buttons: {
	  		        tryAgain: {
	  		            text: 'Yes',
	  		            btnClass: 'btn-Success',
	  		            action: function(){
	  		            	

	  		    			$('#createpersonForm').attr('action', 'personcomEdit');
	  		    			$('#prcId').val(compid);
	  		    			$('#createpersonForm').submit();
	  		            }
	  		        },
	  		        close: function () {
	  		        }
	  		    }
	  		});

		}
	 
	 $('#designation').on('change', function() {
			
	      if ( this.value == '11')
	  
	      {
	    	  //alert("designation   "+ this.value)
	    	  
	    	   $("#exampleModal").modal("show");
	     //   $("#exampleModal").show();
	      
	      }
	      else
	      {
	        $("#AdinBlock").hide();
	      }
	    });
	 
	 
	 function savedDesignation() {
		 
		 
		var DesignationName = $("#DesignatinName").val();
		if(DesignationName == null || DesignationName == ""){
			document.getElementById("DesignatinNameErr").textContent="Enter the Designation Name";
			//$("#DesignatinNameErr").val('Enter the Designation Name ')
		}
		else{
		//alert(DesignationName);
		$.ajax({
				//crossDomain: true,
				type : "GET",
				url : "addOtherDesignation?DesignationName="+DesignationName,
				//contentType : "application/json; charset=utf-8",
				cache : false,
				timeout : 600000,
				success : function(data) {
					debugger 
					 $("#exampleModal").modal("hide");
					
					$("#DesignatinName").val('');
						alert("The Designation is saved. Now  Choose from dropdown ");
					 $("#designation").empty();
					 var len = data.length;

	                for( var i = 0; i<len; i++){
	                    var id = data[i]['id'];
	                    var name = data[i]['designation'];
	                    
	                    $("#designation").append("<option value='"+id+"'>"+name+"</option>");

	                }
					
				},

				error : function(xhr, status, error) {
					alert('This designation is already exits');
				}
			});
		}
		/* alert($("#DesignatinName").val())
		
		$('#createpersonForm').attr('action', 'addOtherDesignation');
		//$('#editDeleteId').val(id);
		$('#createpersonForm').submit(); */
	}
	 </script>
		<script type="text/javascript" src="js/customValidation.js"></script>

	</div>
</body>
</html>


