<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Register DSC</title>

</head>
<!-- <body th:onload="signingPdf([[${signingRevocationXml}]],[[${id}]])"> -->
<body th:onload="signingPdf([[${signingRevocationXml}]])">
<div layout:fragment="content">

<script type="text/javascript">
function signingPdf(requestxml) {
	debugger;
	$.ajax({
		crossDomain : true,
		type : "post",
		contentType : "application/xml; charset=utf-8",
		url : "http://127.0.0.1:55100/dsc/signer_service",
		/* data : 
		{
			requestxml:requestxml,
			id:id
		}, */
		data :requestxml,
		success : function(data) {
			var form = document.getElementById("responseRegSigning");
			form.action = "savesummonPdf";
			$("#responseXMLSigning").val(new XMLSerializer().serializeToString(data));
			//$("#oid").val(id);
			form.submit();
			return true;
			console.log(data);
		},
		error : function(xhr, status, error) {
			alert('error in signed');
		}
	});
}
</script>

<form method="post" id="responseRegSigning">
<div class="loading">Loading&#8230;</div>
<input type="hidden" id="responseXMLSigning" name="responseXMLSigning" />
<!-- <input type="hidden" id="oid" name="oid" /> -->
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>

</div></body></html>
