<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Register DSC</title>

</head>

<!-- <body onload="'javascript:registerCertificate(\'' + ${responseXml } +'\');'">
<body onload="javascript:registerCertificate(\'' + ${responseXml } +'\');'"> -->
<!-- <body th:attr="onload='javascript:registerCertificate(\''+${responseXml}+'\'');">> -->
<body th:onload="registerCertificate([[${responseXml}]])">

<div layout:fragment="content">

<script type="text/javascript">
//window.onload=registerCertificate(\''+${responseXml}+'\'');
function registerCertificate(requestxml)
{   
	//alert("regcertificate");
    $.ajax({
      crossDomain: true,
      type : "POST",
      contentType : "application/xml; charset=utf-8",
      url : "http://localhost:55100/dsc/signer_service",
      data : requestxml,
      success : function(data) 
      {  	   
    	  var form=document.getElementById("regCert");
		  $("#successXml").val(new XMLSerializer().serializeToString(data));
		  form.action="successReg";
		  form.submit();
		  return true;  
      },
      error : function(xhr, status, error) {
          alert('error in dsc reg.');
        }
    });      
}
</script>

<form method="post" id="regCert">
<div class="loading">Loading&#8230;</div>
<input type="hidden" id="successXml" name="successXml" />
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>

</div></body></html>
