<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="plugins/bootstrap-datatable/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" type="text/css">
<title>Signed Office Order</title>
</head>
<body>
	<div layout:fragment="content">
		<script type="text/javascript">
		 function getOrders(id,caseid)
		  	{
				
		  		$('#id').val(id);
		  		$('#caseid').val(caseid);
		  		
		        $('#getOrders').attr("action", "viewSorders");
		        $('#getOrders').submit();  
		        interval = setInterval(removeDiv,500);
		  	}
		
		function removeDiv(){
			$('div').removeClass('loading');
	    	 clearInterval(interval); 
		}
		
		</script>
		<div class="row pt-2 pb-2">
			<div class="col-sm-5">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Signed Office Order Details</li>
				</ol>
			</div>
		</div>


		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="form-header text-uppercase">
							<i class="fa fa-address-book-o"></i> <h4>Signed Office Order Details</h4>
						</h4>

						<!-- <form th:action="@{/createNotice}" method="post"
							class="needs-validation" th:object="${caseDetails}"> -->
							<div class="form-group row">
								<table class="table table-respnsive" id="summonDetailsTable">
									<thead class="bg-info text-white">
										<tr>
											<th>S.No.</th>
											<th>DIN</th>
											<th>Case Id</th>
											<th>Case Title</th>
											 <th>Case Type</th> 
											<th>Action</th>
										</tr>
									</thead>
									 <tbody>
									  <tr th:each="p,stats: ${signOrders}">
											 <td th:text="${stats.count}"></td> 
											  <td th:text="${p.oo_din}"></td>
											<td th:text="${p.caseStringId}"></td>
											<td th:text="${p.CaseTitle}"></td>
											<th:block th:if="${p.order_type == 'MCA'}">
												<td class="text-wrap"> System Generated </td>
											</th:block>
											<th:block th:if="${p.order_type == 'Legacy' }">
											<td class="text-wrap">Legacy</td>
											</th:block>
											
											<th:block th:if="${p.order_type == 'Prosecution' }">
											<td class="text-wrap">Prosecution</td>
											</th:block>
										<!--	<td th:text="${p.order_type}"></td>
											 <td th:text="${p.signDate}"></td> -->
<!-- 											 <td><a href="#" th:onclick="'javascript:getOrders(\'' + ${p.orderid} +'\');'" class="btn btn-danger" >View Signed Office Order</a></td>  -->
										
										<th:block th:if="${p.order_type == 'MCA'}">
												<td class="text-wrap"> <a href="#" th:onclick="'javascript:getOrders(' + ${p.orderid} +',' + ${p.id} +');'" 
											 class="btn btn-danger" >View Signed Order </a></td>
											</th:block>
											<th:block th:if="${p.order_type == 'Legacy' or  p.order_type == 'Prosecution'}">
											<td class="text-wrap"><a href="#" th:onclick="'javascript:getOrders(' + ${p.orderid} +',' + ${p.id} +');'" 
											 class="btn btn-danger" >View  Order </a></td></th:block>
										
										</tr> 
									</tbody>

								</table>
							</div>
					
<!-- <a href="#" th:onclick="'javascript:getOrders(' + ${p.orderid} +',' + ${p.id} +');'" 
											 class="btn btn-danger" >View Signed Office Order </a> -->
					</div>

				</div>
			</div>
		</div>
		 <form method="post" id="getOrders" target="_blank">
		<input id="id" name="id" type="hidden" />
		
		<input id="caseid" name="caseid" type="hidden" />
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		</form> 
	
		<script src="plugins/bootstrap-datatable/js/jquery.dataTables.min.js"></script>
		<script
			src="plugins/bootstrap-datatable/js/dataTables.bootstrap4.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/dataTables.buttons.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.bootstrap4.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/jszip.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/pdfmake.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/vfs_fonts.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.html5.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.print.min.js"></script>
		<script src="plugins/bootstrap-datatable/js/buttons.colVis.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			
			 var table = $('#summonDetailsTable').DataTable( {
//		 	        lengthChange: false,
			       dom: 'Bfrtip',
			        /* buttons: [
			            'copyHtml5',
			            'excelHtml5',
			            'csvHtml5',
			            'pdfHtml5'
			        ] */
			        buttons: {
					    buttons: [{
					      extend: 'excel',
					      text: '<i class="fa fa-print"></i> Excel',
					      title: $('h4').text(),
					    
					      exportOptions: {
					        columns: ':not(.no-print)'
					      },
					      footer: true,
					      autoPrint: false
					    },
					    {
						      extend: 'print',
						      
								
						      text: '<i class="fa fa-print"></i> Print',
						   
						      title: $('h4').text(),
						      exportOptions: {
						        columns: ':not(.no-print)'
						      },
						      footer: true,
						      autoPrint: false
						    },{
					      extend: 'pdf',
					      text: '<i class="fa fa-file-pdf-o"></i> PDF',
					      title: $('h4').text(),
					    
					      exportOptions: {
					        columns: ':not(.no-print)'
					      },
					      footer: true
					    }],
					    
					    
					    dom: {
					      container: {
					        className: 'dt-buttons'
					      },
					      button: {
					        className: 'btn btn-default'
					      }
					    }
					  }
			      } );
		});
		
		</script>

	</div>

</body>
</html>