<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Preview Case Details</title>

</head>

<body>

	<div layout:fragment="content">


		<div class="row pt-2 pb-2">
			<!-- <div class="col-sm-9">
				<h5 class="page-title"></h5>
			</div> -->
			<div class="col-sm-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="showPendSummonStage1">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Preview
						Case Details</li>
				</ol>
			</div>
		</div>


		<form th:action="@{/showSummonDetails}" method="post"
			class="needs-validation" th:object="${caseDetails}"
			enctype="multipart/form-data">


			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="form-header text-uppercase">
								<i class="fa fa-briefcase"></i>Case Details
							</h4>


							<div class="form-group row">
							
							<input type="hidden" th:field="*{id}" />
							
							<input type="hidden" th:field="*{caseId}" />

								<label class="col-sm-2 col-form-label"> Case No : </label> <label
									class="col-sm-4 col-form-label text-primary"> <span
									th:text="${caseDetails.caseId}"></span>
								</label> <label class="col-sm-2 col-form-label">Financial Year :</label>
								<label class="col-sm-4 col-form-label text-primary"><span
									th:text="${caseDetails.financeYear}"></span>
								</label>
								


							</div>
							<div class="form-group row">

								<label for="input-13" class="col-sm-2 col-form-label">
									Case Title : </label> <label
									class="col-sm-10 col-form-label text-primary"> <span
									th:text="${caseDetails.caseTitle}"></span>
								</label>

							</div>

							<div class="form-group row">

								<label class="col-sm-4 col-form-label">Investigation
									Order Received From : </label> <label
									class="col-sm-6 col-form-label text-primary"> <span
									th:text="${caseDetails.radioValue}"></span>
								</label>

							</div>


							<div th:if="${caseDetails.mcaOrderNo != null and caseDetails.mcaOrderNo != ''}"
								class="form-group row" id="mcaDiv">

								<label class="col-sm-2 col-form-label">MCA Order No : </label> <label
									class="col-sm-4 col-form-label text-primary"> <span
									th:text="${caseDetails.mcaOrderNo}"></span>
								</label> <label class="col-sm-2 col-form-label">MCA Order Date :
								</label> <label class="col-sm-4 col-form-label text-primary"> <span
									th:text="${#dates.format(caseDetails.mcaOrderDate,'dd/MM/yyyy')}"></span>
								</label>

							</div>

							<div th:if="${caseDetails.courtOrderNo != null and caseDetails.courtOrderNo != ''}"
								class="form-group row" id="courtDiv">

								<label class="col-sm-2 col-form-label">Court Order No :
								</label> <label class="col-sm-4 col-form-label text-primary"> <span
									th:text="${caseDetails.courtOrderNo}"></span>
								</label> <label class="col-sm-2 col-form-label">Court Order Date
									: </label> <label class="col-sm-4 col-form-label text-primary">
									<span th:text="${#dates.format(caseDetails.courtOrderDate,'dd/MM/yyyy')}"></span>
								</label>

							</div>

							<div th:if="${caseDetails.mcaOrderFile != null and caseDetails.mcaOrderFile != ''}"
								class="form-group row" id="mcaFileDiv">

								<label for="input-11" class="col-sm-6 col-form-label">Copy
									of the Communication received from MCA : </label> <label
									class="col-sm-6 col-form-label text-primary"> <a th:target="_blank" th:href="@{|/downloadFiles?fileName=${caseDetails.mcaOrderFile}|}" ><span
									th:text="${caseDetails.mcaOrderFile}"></span></a>
								</label>

							</div>

							<div th:if="${caseDetails.courtOrderFile != null and caseDetails.courtOrderFile != ''}"
								class="form-group row" id="courtFileDiv">

								<label for="input-11" class="col-sm-6 col-form-label">Copy
									of the Order received from Court : </label> <label
									class="col-sm-6 col-form-label text-primary"><a th:target="_blank" th:href="@{|/downloadFiles?fileName=${caseDetails.courtOrderFile}|}" ><span
									th:text="${caseDetails.courtOrderFile}"></span></a>
								</label>

							</div>
							
							<div th:if="${caseDetails.legacyOrderFile != null and caseDetails.legacyOrderFile != ''}"
								class="form-group row" id="orderFileDiv">

								<label for="input-11" class="col-sm-6 col-form-label">Copy
									of running office Order uploaded : </label> <label
									class="col-sm-6 col-form-label text-primary"> <a th:target="_blank" th:href="@{|/downloadFiles?fileName=${caseDetails.legacyOrderFile}|}" ><span
									th:text="${caseDetails.legacyOrderFile}"></span></a>
								</label>

							</div>



							<h4 class="form-header text-uppercase">
								<i class="fa fa-industry"></i> Company Under Investigation
							</h4>

							<div class="form-group row">

								<table class="table">
									<thead>
										<tr>
											<th>Sr. No.</th>
											<th>Company Name</th>
										</tr>
									</thead>
									<tbody>

										<tr th:if="${comList.empty}">
											<td colspan="2">No Data Available</td>
										</tr>
										<tr th:each="insp : ${comList}">
											<td th:text="${insp.id}"></td>
											<td th:text="${insp.name}"></td>
										</tr>

									</tbody>


								</table>



							</div>



							<h4 class="form-header text-uppercase">
								<i class="fa fa-users"></i>Investigation Team
							</h4>

							<div class="form-group row">


								<table class="table">
									<thead>
										<tr>
											<th>Sr. No.</th>
											<th>Name</th>
											<th> Case Designation<th>
										</tr>
									</thead>
									<tbody>

										<tr th:if="${inspList.empty}">
											<td colspan="3">No Data Available</td>
										</tr>
										<tr th:each="insp : ${inspList}">
											<td th:text="${insp.srNo}"></td>
											<td th:text="${insp.inspName}"></td>
											<td th:text="${insp.isIO() == true} ?  ' IO' : 'Inspector'"><td>
										</tr>

									</tbody>


								</table>


							</div>
							
							
								<div class="form-footer">
								<!-- <button type="reset" class="btn btn-danger">
									<i class="fa fa-times"></i> Back
								</button> -->
								
								<a href="showPendSummonStage1"  class="btn btn-danger">Back</a>
								
								<!-- <button type="submit" th:name="approve" th:value="*{id}"  th:id="saveBtn"
									class="btn btn-success">
									<i class="fa fa-check-square-o"></i> Initiate Approval
								</button> -->
							</div>



						</div>
					</div>
				</div>
			</div>
		</form>


	</div>

</body>
</html>