<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Preview Case Details</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row pt-2 pb-2">
			<!-- <div class="col-sm-9">
				<h5 class="page-title"></h5>
			</div> -->
			<div class="col-sm-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Preview
						Case Details</li>
				</ol>
			</div>
		</div>


		<form th:action="@{/showCaseDetails}" method="post"
			class="needs-validation" th:object="${caseDetails}"
			enctype="multipart/form-data">

			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="form-header text-uppercase">
								<i class="fa fa-briefcase"></i>Case Details
							</h4>

														<div class="form-group row">

								<input type="hidden" th:field="*{id}" th:id="caseDetailsId"
									name="caseID" /> <input type="hidden" th:field="*{caseId}" />

								<label class="col-sm-2 col-form-label"> Case No : </label> <label
									class="col-sm-4 col-form-label text-primary"> <span
									th:text="${caseDetails.caseId}"></span>
								</label> <label class="col-sm-2 col-form-label">Financial Year :</label>
								<label class="col-sm-4 col-form-label text-primary"><span
									th:text="${caseDetails.financeYear}"></span>
								</label>


							</div>
							<div class="form-group row">

								<label for="input-13" class="col-sm-2 col-form-label">
									Case Title : </label> <label
									class="col-sm-4 col-form-label text-primary"> <span
									th:text="${caseDetails.caseTitle}"></span>
								</label> <label class="col-sm-2 col-form-label">Case Type: </label>
								<th:block th:if="${caseDetails.radioValue != 'MCA'}">
									<label class="col-sm-4 col-form-label text-primary"> <span
										th:text="${caseDetails.radioValue}"></span></label>
								</th:block>
								<th:block th:if="${caseDetails.radioValue == 'MCA'}">
									<label class="col-sm-4 col-form-label text-primary"> <span>
											System Genrated</span></label>
								</th:block>
								<!--  <label class="col-sm-2 col-form-label">DIN: </label> <label
									class="col-sm-4 col-form-label text-primary"> <span
									th:text="${officeorder.ooDin}"></span>
								</label> -->
							</div>




							<div th:if="${caseDetails.mcaOrderNo != '' }"
								class="form-group row" id="mcaDiv">
								<label class="col-sm-2 col-form-label">MCA Order No : </label> <label
									class="col-sm-4 col-form-label text-primary"> <span
									th:text="${caseDetails.mcaOrderNo}"></span>
								</label>
								</th:block>
								<label class="col-sm-2 col-form-label">MCA Order Date :
								</label> <label class="col-sm-4 col-form-label text-primary"> <span
									th:text="${#dates.format(caseDetails.mcaOrderDate, 'dd/MM/yyyy')}"></span>
								</label>

							</div>

							<div
								th:if="${caseDetails.courtOrderNo != null and caseDetails.courtOrderNo!=''}"
								class="form-group row" id="courtDiv">

								<label class="col-sm-2 col-form-label">Court Order No :
								</label> <label class="col-sm-4 col-form-label text-primary"> <span
									th:text="${caseDetails.courtOrderNo}"></span>
								</label> <label class="col-sm-2 col-form-label">Court Order Date
									: </label> <label class="col-sm-4 col-form-label text-primary">
									<span
									th:text="${#dates.format(caseDetails.courtOrderDate, 'dd/MM/yyyy')}"></span>
								</label>

							</div>

							<div th:if="${caseDetails.mcaOrderFile != null}"
								class="form-group row" id="mcaFileDiv">

								<label for="input-11" class="col-sm-2 col-form-label">Copy
									of the Communication received from MCA : </label> <label
									class="col-sm-4 col-form-label text-primary"> <a
									th:target="_blank"
									th:href="@{|/downloadFiles?fileName=${caseDetails.mcaOrderFile}|}"><span
										th:text="${caseDetails.mcaOrderFile}"></span></a>
								</label>
                                    
							</div>
	<div
								th:if="${caseDetails.radioValue == 'MCA' and officeorder != null}"
								class="form-group row" id="mcaFileDiv">
                           <th:block th:if = "${officeorder.isSigned==1}">
								<label for="input-11" class="col-sm-2 col-form-label">Copy
									of the Office Order : </label> <label
									class="col-sm-4 col-form-label text-primary"> <a
									th:target="_blank"
									th:href="@{|/downloadFiles?fileName=${caseDetails.mcaOrderFile}|}"><span
										th:text="${officeorder.signFile}"></span></a>
								</label>

								

									<label class="col-sm-2 col-form-label">Office Order
										DIN: </label>
									<label class="col-sm-4 col-form-label text-primary"> <span
										th:text="${officeorder.ooDin}"></span>
									</label>
								</th:block>
							</div>
							<div th:if="${caseDetails.courtOrderFile != null}"
								class="form-group row" id="courtFileDiv">

								<label for="input-11" class="col-sm-6 col-form-label">Copy
									of the Order received from Court : </label> <label
									class="col-sm-6 col-form-label text-primary"> <span
									th:text="${caseDetails.courtOrderFile}"></span>
								</label>

							</div>


							<div th:if="${caseDetails.legacyOrderFile != null}"
								class="form-group row" id="orderFileDiv">

								<label for="input-11" class="col-sm-2 col-form-label">Copy
									of running office Order uploaded : </label> <label
									class="col-sm-4 col-form-label text-primary"> <a
									th:target="_blank"
									th:href="@{|/downloadFiles?fileName=${caseDetails.legacyOrderFile}|}"><span
										th:text="${caseDetails.legacyOrderFile}"></span></a>
								</label>
                                    <label class="col-sm-2 col-form-label">DIN: </label> <label
									class="col-sm-4 col-form-label text-primary"> <span
									th:text="${officeorder.ooDin}"></span>
								</label>
							</div>


							<h6 class="text-uppercase">
								<i class="fa fa-industry"></i> Company Under Investigation
							</h6>


							<div class="form-group row">

								<table class="table">
									<thead>
										<tr>
											<th>Sr. No.</th>
											<th>Company Name</th>
											<th>Section</th>
										</tr>
									</thead>
									<tbody>

										<tr th:if="${comList.empty}">
											<td colspan="2">No Data Available</td>
										</tr>
										<tr th:each="insp : ${comList}">
											<td th:text="${insp.id}"></td>
											<td th:text="${insp.name}"></td>
											<td><th:block th:if= "${insp.section ==1}">
											 <span> Section 212</span>
											</th:block>
											<th:block th:if= "${insp.section ==2}">
											 <span>  Section 219</span>
											</th:block>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
                             <th:block th:if="${caseDetails.radioValue!= 'Prosecution'}">
							<h6 class="text-uppercase">
								<i class="fa fa-users"></i>Investigation Team 
								
							</h6>
										<div class="form-group row">

								<table class="table">
									<thead>
										<tr>
											<th>Sr. No.</th>
											<th style="width:700px">Name</th>
											<th> Case Designation</th>
											<!-- <th>Investigation Officer</th> -->
										</tr>
									</thead>
									<tbody>

										<tr th:if="${inspList.empty}">
											<td colspan="3">No Data Available</td>
										</tr>
										<tr th:each="insp : ${inspList}">
											<td th:text="${insp.srNo}"></td>
											<td th:text="${insp.inspName}"></td>
											
											<th:block th:if="${insp.isIO() == true and insp.isAdo() == true }">
												<td >IO and Addl.</td>
											</th:block>
											<th:block th:if="${insp.isIO() == true and insp.isAdo() == false }">
												<td>IO </td>
											</th:block>
											<th:block th:if="${insp.isAdo() == true and insp.isIO() == false}">
												<td>Addl.</td>
											</th:block>
											
											<th:block th:if="${insp.isIO() == false and insp.isAdo() == false}">
												<td>Inspector</td>
											</th:block>
											
											<!--<td th:text="${insp.isIO() == true} ?  ' IO' : 'Inspector'"><td>
											<!-- <th:block th:if="${#strings.equlas(ioName,insp.inspName)}">
												<td th:text="${insp.inspName}"><span>-IO</span></td>
											</th:block>
											<th:block th:if="${#!strings.equlas(ioName,insp.inspName)}">
												<td th:text="${insp.inspName}"></td>
											</th:block> -->
											<!-- <td th:text="${insp.inspName}"></td> -->
												<!-- <td th:text="${insp.inspName}"> - Investigating Officer</td> -->
											
											<!-- <td th:text="${insp.inspName}"></td> -->
											<!-- <td th:text="${insp.isIO}"></td> -->
										</tr>

									</tbody>


								</table>


							</div>
							
							  </th:block>
							  
							  
							  
								<div class="form-footer">
									<th:block th:if="${backtype ==2}">
								<a href="getPeningPhysicalsentSummon"  class="btn btn-danger">Back</a>
								</th:block>
								<th:block th:if="${backtype ==1}">
									<a href="getCaseList"  class="btn btn-danger">Back</a>
								</th:block>
						
								
							</div>



						</div>
					</div>
					
						<div class="modal fade" id="largesizemodal">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header bg-primary">
						<h5 class="modal-title text-white">Inspector's List</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<table class="table">
							<thead>
								<tr>
									<th>Sr. No.</th>
									<th style="display: none"></th>
									<th>Name</th>
									<th>Designation</th>
									<th> From Date</th>
									<th> To Date </th>
									
								</tr>
							</thead>
							<tbody id="inspectorTable">


							</tbody>


						</table>


						<div id="msg"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-dark" data-dismiss="modal">
							<i class="fa fa-times"></i> Close
						</button>
						
					</div>
				</div>
			</div>
		</div>
				</div>
			</div>
		</form>
<script type="text/javascript">

function getInspectorList(caseID){
	var token =  $("input[name=_csrf]").val();
	var header = 'X-CSRF-TOKEN';
	 $(document).ajaxSend(function(e, xhr, options)
	{
	    xhr.setRequestHeader(header, token);
	}), 
	$.ajax({
		 crossDomain: true,
	        type: "post",
	        url: "getDeletedInspectorList?caseID="+caseID,
	        contentType : "application/json; charset=utf-8",
	        /* data:{caseId:caseId
	        }, */
	        cache: false,
	        timeout: 600000,
	        success: function(data){
	        	
	        
	        	var html = '';
				var len = data.length;
				$('#inspectorTable').empty();
				for (var i = 0; i < len; i++) {
					
					var trString='';
					$('#showInsrTable tr').each(function(j,v){ if($(this).children('td:eq(1)').text()==data[i].userId){
						isAdded=true };  }); 
					i
							
					html += '<tr><td>'+data[i].srNo+'</td>'+
							'<td style="display: none">'+data[i].userID+'</td>'+
							'<td>'+data[i].inspName+'</td>'+
							'<td>'+data[i].designation+'</td>'+
							'<td>'+data[i].fromDate+'</td>'+
							'<td>'+data[i].toDate+'</td>'+
							trString;
				}
	        	$('#inspectorTable').append(html);
	        	},
	        	
	 error : function(xhr, status, error) {
       alert('error in getting count');
     }
	 });
	
	
	
	
}

</script>

	</div>

</body>
</html>