


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Summon</title>
</head>

<body>

	<div layout:fragment="content">




		<form th:action="@{/generateOfflineSummon}" method="post"
			class="needs-validation" th:object="${caseDto}"
			enctype="multipart/form-data">
			<input type="hidden" class="inputTxt form-control" autocomplete="off"
				id="caseId" th:field="*{caseId}" name="caseId" required /> <input
				type="hidden" class="inputTxt form-control" autocomplete="off"
				id="caseStrId" th:field="*{caseStrId}" name="caseStrId" required />
			<input type="hidden" class="inputTxt form-control" autocomplete="off"
				id="summonNo" th:field="*{summonNo}" name="summonNo" required /> <input
				type="hidden" class="inputTxt form-control" autocomplete="off"
				id="dateOfAppear" th:field="*{dateOfAppear}" name="dateOfAppear"
				required /> <input type="hidden" class="inputTxt form-control"
				autocomplete="off" id="summontypeid" th:field="*{summontypeid}"
				name="summontypeid" required /> <input type="hidden"
				class="inputTxt form-control" autocomplete="off" id="summonDin"
				th:field="*{summonDin}" name="summonDin" required /> <input
				type="hidden" class="inputTxt form-control" autocomplete="off"
				id="dateOfIssue" th:field="*{dateOfIssue}" name="dateOfIssue"
				required /> <input type="hidden" class="inputTxt form-control"
				autocomplete="off" id="summonId" th:field="*{summonId}"
				name="summonId" required />

			<div class="row text-black">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">

	<th:block th:if="${caseDto.para1h!=null}">

							<div class="form-group row" align="justify">
								<div class="col-lg-12" align="center">

									<div align="center">
										<img src="images/emblem-dark.png" height="80"> <br>
										<label style="font-size: 20px; font-weight: bold;">भारत
											सरकार </label><br> <label
											style="font-size: 20px; font-weight: bold;">कारपोरेट
											कार्य मंत्रालय</label><br> <label
											style="font-size: 20px; font-weight: bold;">गंभीर कपट
											अन्वेषण कार्यालय जांच स्थल</label><br> 
												<th:block th:if="${OfficeAddress_hi!=null}">
											<label
											style="font-size: 20px; font-weight: bold;"> <span
											th:text="${OfficeAddress_hi}"></span></label>
</th:block>
									</div>
								</div>
								<div class="form-group row" align="justify">
									<div class="col-lg-3">
										<label style="font-size: 20px;">डी आई एन: </label> <span
											th:text="${summonDin}"></span>
									</div>
									<div class="col-lg-6"></div>

									<div class="col-lg-3" align="right">
										<label style="font-size: 20px;"> दिनांक: </label> <label
											th:text="${#dates.format(date, 'dd/MM/yyyy')}"></label>
									</div>
								</div>

								<div class="form-group row" align="justify">
									<div class="col-lg-12" align="center">

										<label class="text-center"
											style="text-decoration: underline; font-size: 20px; font-weight: bold;">भौतिक
											सम्मन</label>

									</div>
								</div>
								<br>
								<div class="form-group row" align="justify">
									<div>


										<label style="font-size: 18px; font-weight: normal;">
											<span th:text="${caseDto.para1h}"></span>
										</label>

									</div>

								</div>

								<div class="form-group row" align="justify">
									<div>

										<label style="font-size: 18px; font-weight: normal;">
											<span th:text="${caseDto.para2h}"></span>
										</label>

									</div>

								</div>

								<div class="form-group row" align="justify">
									<div>

										<label style="font-size: 18px; font-weight: normal;">
											<span th:text="${caseDto.para3_1h}"></span>
										</label>

									</div>
								</div>

								<div class="form-group row" style="display: none;">
									<div class="col-lg-12" align="center">
										<label style="font-size: 18px; font-weight: normal;">
											<span th:text="${caseDto.para3h}"></span>
										</label>
									</div>
								</div>


								<div class="form-group row" align="justify">
									<div class="col-lg-12" align="right">
										<label th:text="*{directorName}"> </label><br> (<label
											th:text="${Iodesignation_hi}"></label>)
									</div>
								</div>
								<br>

								<hr width="100%" color="black">

</div>
								<div class="pagebreak"></div>
								<div class="form-group row" align="justify">
									<div align="center">

										<img src="images/emblem-dark.png" height="80"> <br>
										<label class="text-center"
											style="font-size: 20px; font-weight: bold;"> <span>Government
												of India </span>
										</label><br> <label class="text-center"
											style="font-size: 20px; font-weight: bold;">Ministry
											of Corporate Affairs</label><br> <label class="text-center"
											style="font-size: 20px; font-weight: bold;">Serious
											Fraud Investigation Officer</label><br> <label> <span
											class="text-center"
											style="font-size: 20px; font-weight: bold; justify-content: center;"
											th:text="${OfficeAddress}"></span>
										</label>

									</div>
								</div>

								<div class="form-group row" align="justify">
									<div class="col-lg-3">
										<label style="font-size: 20px;">DIN: </label> <span
											th:text="${summonDin}"></span>
									</div>
									<div class="col-lg-6"></div>

									<div class="col-lg-3" align="right">
										<label style="font-size: 20px;"> Date </label> <label
											th:text="${#dates.format(date, 'dd/MM/yyyy')}"></label>
									</div>
								</div>

								<div class="form-group row" align="justify">
									<div class="col-lg-12" align="center">

										<label class="text-center"
											style="text-decoration: underline; font-size: 20px; font-weight: bold;">Physical
											SUMMON</label>

									</div>
								</div>


								<div class="form-group row" align="justify">
									<div>

										<label style="font-size: 18px; font-weight: normal;">
											<span th:text="${caseDto.para1}"></span>
										</label>


									</div>

								</div>

								<div class="form-group row" align="justify">
									<div>
										<label style="font-size: 18px; font-weight: normal;">
											<span th:text="${caseDto.para2}"></span>
										</label>

									</div>


								</div>

								<div class="form-group row" align="justify">
									<div>

										<label style="font-size: 18px; font-weight: normal;">
											<span th:text="${caseDto.para3_1}"></span>
										</label>

										<!-- <textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para3_1}" th:id="para3" readonly="readonly"></textarea> -->
									</div>
								</div>

								<div class="form-group row" style="display: none;">
									<div class="col-lg-12" align="center">

										<label style="font-size: 18px; font-weight: normal;">
											<span th:text="${caseDto.para3}"></span>
										</label>

									</div>
								</div>







								<div class="form-group row" align="justify">
									<div class="col-lg-12" align="right">
										<label th:text="*{directorName}"> </label><br> (<label
											th:text="*{Designation}"></label>)
									</div>
								</div>





								<!-- <div class="form-group row">
								<div class="col-lg-12">
									<label>To,<br>Sh.<span th:text="${name}"></span>,
										<span th:text="${designation}"></span>
										<th:block th:if ="${Type!=7}">
									<br><span th:text="${companyName}"></span>
									</th:block>,
										<br>Address <span th:text="${address}"></span>
									</label>
								</div>
							</div> -->



							</div>
						</div>
					</div>
				</div>
		</form>

	</div>



</body>
</html>