<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Preview Summons</title>
</head>

<body>

	<div layout:fragment="content">
		<div class="row pt-2 pb-2">
			<div class="col-sm-8">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Preview
						Summons</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
					<div th:if="${regDscmsg}"><span th:text="${regDscmsg}" class="text-danger"></span></div>
					<div th:if="${isValidDsc}"><span th:text="${isValidDsc}" class="text-danger"></span></div>
					<div class="form-group row">
						<div class="col-md-7">
							<iframe th:src="${session.unSignSummonPre}" width="700px"
								height="600px" id="iframefile"></iframe>
						</div>
						<div class="col-md-5" >
						 <span>
									<a href="summonStatus" class="btn btn-success"><< Back To Summon Status</a>
							</span>	
						  </div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
			
			$('#consent').change(function(){
				 if(this.checked) {
					$('#signButton').attr("disabled",false);
// 			            $(this).prop("checked", returnVal);
			        }else{
			        	$('#signButton').attr("disabled","disabled");
			        }
			});
			
			function displayeSignBlock(){
				$('#esignBlock').show();
			}
			function proceedToSign(){
// 				var name = $('#aadhar').val();
				var fileName = $('#iframefile').attr('src').substring($('#iframefile').attr('src').lastIndexOf('/')+1);
				var ooid = $('#ooid').val();
// 				$("#genHash").submit();

				var token = [[${_csrf.token}]];
	 			var header = [[${_csrf.headerName}]];

				$(document).ajaxSend(function(e, xhr, options)
						{
						    xhr.setRequestHeader(header, token);
						}), 
						$.ajax({
//					 		 crossDomain: true,
						        type: "POST",
						        url: "esignPdf",
//					 	        contentType : "application/json; charset=utf-8",
								data:{
								        	'name':'dummy',
								        	'fileName':fileName,
								        	'ooid':ooid,
								        	'docType':'summon'
								       },
						        cache: false,
						        timeout: 600000,
						        success: function(data){
						        	$('#xml').val(data);
						        	console.log(data);
						        	$("#redirectGateway").submit();
						        	interval = setInterval(removeDiv,1000);
						        	},
						        	
						 error : function(xhr, status, error) {
					        alert('error in Signing');
					      }
						 });

			}
			
			function removeDiv(){
				$('div').removeClass('loading');
		    	 clearInterval(interval); 
			}
			</script>
		</div>
	</div>