<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Notice</title>
</head>
<body>

	<div layout:fragment="content">

		<div class="row pt-2 pb-2">
			<div class="col-sm-3">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Summon</li>
				</ol>
			</div>
		</div>


		<form th:action="@{/approveSummonDir}" method="post"
			class="needs-validation" th:object="${caseDto}">
			<input type="hidden" class="inputTxt form-control" autocomplete="off"
				id="caseId" th:field="*{caseId}" name="caseId" required /> <input
				type="hidden" class="inputTxt form-control" autocomplete="off"
				id="caseStrId" th:field="*{caseStrId}" name="caseStrId" required />
			<input type="hidden" class="inputTxt form-control" autocomplete="off"
				id="caseStrId" th:field="*{summonId}" name="summonId" required /> <input
				type="hidden" class="inputTxt form-control" autocomplete="off"
				id="summontypeid" th:field="*{summontypeid}" name="summontypeid"
				required />

			<div class="row text-black">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="form-header text-uppercase">
								<i class="fa fa-briefcase"></i> Summon Details
							</h4>
							<div class="form-group row">
								<div class="col-lg-12" align="center">

									<label>भारत सरकार </label><br> <label>कारपोरेट
										कार्य मंत्रालय</label><br> <label>गंभीर कपट अन्वेषण
										कार्यालय जांच स्थल</label><br> <label> <span
										th:text="${OfficeAddress_hi}"></span></label>

								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-3">
									<label>डी आई एन: </label> <label th:text="*{summonDin}"></label>
								</div>
								<div class="col-lg-6"></div>

								<div class="col-lg-3" align="right">
									<!-- 									<label th:text="*{date}"></label> -->
								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="center">

									<label class="text-center"
										style="text-decoration: underline; font-size: 20px; font-weight: bold;">समन</label>

								</div>
							</div>


							<div class="form-group row">
								<div class="col-lg-12" align="center">

									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para1h}" th:id="para1h"></textarea>
								</div>

							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="center">
									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para2h}" th:id="para2h"></textarea>
								</div>

							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="center">
									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para3h}" th:id="para3h"></textarea>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="center">
									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para4h}" th:id="para4h"></textarea>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="center">

									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para5h}" th:id="para5h"></textarea>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="center">

									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para6h}" th:id="para6h"></textarea>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="right">
									<label th:text="*{directorName}"> </label><br> (<label
										th:text="*{Designation_Hi}"></label>)
								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-12">
									<label>सेवा में,<br>श्री.<span th:text="${name}"></span>,
										<span th:text="${designation}"></span> <th:block
											th:if="${Type!=7}">
											<br>
											<span th:text="${companyName}"></span>
										</th:block>, <br>पता <span th:text="${address}"></span>
									</label>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="center">

									<label>Government of India </label><br> <label>Ministry
										of Corporate Affairs</label><br> <label>Serious Fraud
										Investigation Officer</label><br> <label>2nd Floor Pt.
										Deendayal Antyodaya Bhawan</label><br> <label>CGO Complex
										Lodhi Road,New delhi-110003</label><br>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-3">
									<label>DIN:</label>
									<!-- 									<label th:text="*{summonNo}"></label> -->
								</div>
								<div class="col-lg-6"></div>

								<div class="col-lg-3" align="right">
									<!-- 									<label th:text="*{date}"></label> -->
								</div>

							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="center">

									<label class="text-center"
										style="text-decoration: underline; font-size: 20px; font-weight: bold;">Summon</label>

								</div>
							</div>


							<div class="form-group row">
								<div class="col-lg-12" align="center">
									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para1}" th:id="para1"></textarea>
								</div>

							</div>



							<div class="form-group row">
								<div class="col-lg-12" align="center">
									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para2}" th:id="para2"></textarea>
								</div>

							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="center">
									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para3}" th:id="para3"></textarea>
								</div>
							</div>
							<!-- company Disalble By Gouthami 09/10/2020  -->
							<!-- <div class="form-group row">
								<div class="col-lg-1"></div>
								<div class="col-lg-6">
									<table style="font-weight:bold">
										<tr th:if="${listCom.empty}">
											<td colspan="2">No Data Available</td>
										</tr>
										<tr >
									
											<td > 1. <span><label th:text="${companydisplay}" ></label></span></td>
										</tr>
										<tr th:each="list,stats : ${listCom}">
											<td th:text="${stats.count}"></td>
											<td th:text="${list.name}"></td>
										</tr>
									</table>
								</div>
							</div>  -->

							<div class="form-group row">
								<div class="col-lg-12" align="center">

									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para4}" th:id="para4"></textarea>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="center">
									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para5}" th:id="para5"></textarea>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-12" align="center">

									<textarea rows="4" class="form-control" style="border: none;"
										th:field="*{para6}" th:id="para6"></textarea>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-12" align="right">
									<label th:text="${io}"> </label><br> (<label
										th:text="*{Designation}"></label>)
								</div>
							</div>

							<div class="form-group row">
								<div class="col-lg-12">
									<label>To,<br>Sh.<span th:text="${name}"></span>,
										<span th:text="${designation}"></span>, <br>
									<span th:text="${companyName}"></span>, <br>Address <span
										th:text="${address}"></span>
									</label>
								</div>
							</div>

							<!-- <div class="form-footer">
								<button type="reset" class="btn btn-danger">
									<i class="fa fa-times"></i> CANCEL
								</button>

								<a href="showPendingOfficeOrderStage1" class="btn btn-danger">
									<i class="fa fa-times"></i> Return Back
								</a>

								<button type="submit" th:name="save" th:id="saveBtn"
									class="btn btn-success">
									<i class="fa fa-check-square-o"></i> Forward
								</button>

								 <button type="button" th:name="saveDraft" th:id="saveDraft"
									class="btn btn-success">
									<i class="fa fa-check-square-o"></i> Save Draft
								</button> 
								<a href="#"	th:onclick="'javascript:pdfView();'"class="btn btn-info">Preview</a>

							</div> -->
							<div class="form-footer">
								<!-- <button type="submit" class="btn btn-danger">
									<i class="fa fa-times"></i> CANCEL
								</button> -->

								<a href="showPendingSummonDir" class="btn btn-danger"> <i
									class="fa fa-times"></i>Back
								</a>

								<button type="submit" th:name="save" th:id="saveBtn"
									class="btn btn-success">
									<i class="fa fa-check-square-o"></i> Approve
								</button>

								<button type="button" th:name="saveDraft" th:id="saveDraft"
									class="btn btn-success">
									<i class="fa fa-check-square-o"></i> Save Draft
								</button>

								<button type="submit" th:name="Reject" th:id="rejBtn"
									class="btn btn-danger">
									<i class="fa fa-remove"></i> send back
								</button>

								
								<button type="button" th:name="preview" th:id="previewBtn"
									class="btn btn-info" onclick="pdfView()">
									<i class="fa fa-check-square-o"></i> PREVIEW
								</button>

							</div>
						</div>
					</div>
				</div>
			</div>
		</form>


		<script>
			$("#saveDraft").click(function() {

				var token = $("input[name=_csrf]").val();
				var header = 'X-CSRF-TOKEN';
				var caseDetailsDto = {};
				caseDetailsDto["caseId"] = $("#caseId").val();
				caseDetailsDto["para1"] = $("#para1").val();
				caseDetailsDto["para2"] = $("#para2").val();
				caseDetailsDto["para3"] = $("#para3").val();
				caseDetailsDto["para4"] = $("#para4").val();
				caseDetailsDto["para5"] = $("#para5").val();
				caseDetailsDto["para6"] = $("#para6").val();
				caseDetailsDto["para1h"] = $("#para1h").val();
				caseDetailsDto["para2h"] = $("#para2h").val();
				caseDetailsDto["para3h"] = $("#para3h").val();
				caseDetailsDto["para4h"] = $("#para4h").val();
				caseDetailsDto["para5h"] = $("#para5h").val();
				caseDetailsDto["para6h"] = $("#para6h").val();
				caseDetailsDto["summontypeid"] = $("#summontypeid").val();
				caseDetailsDto["dateOfAppear"] = $("#dateOfAppear").val();
				caseDetailsDto["summonNo"] = $("#summonNo").val();

				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : 'saveSummonDraft',
					data : JSON.stringify(caseDetailsDto),
					dataType : 'json',
					cache : false,
					async : false,
					processData : false,
					timeout : 600000,
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(data) {

						swal("Saved!", "Draft Saved Successfully", "success");

					},
					error : function(e) {

						console.log("ERROR : ", e);

					}
				});

			});
	function pdfView() {
		  		
		  		$('#type').val('summon');
				$('#getPdf').attr("action", "genPdfPreview");
				$('#getPdf').submit();
				$('div').removeClass('loading');
			}
			
		</script>
		<form method="post" id="getPdf" target="_blank">

			<input id="caseId" name="caseId" type="hidden"
				th:value="${pdfPreview.id }" /> <input id="chooseComapny"
				name="chooseComapny" type="hidden" th:value="${pdfPreview.company }" />
			<input id="type" name="type" type="hidden"
				th:value="${pdfPreview.type}" /> <input id="summontypeid"
				name="summontypeid" type="hidden"
				th:value="${pdfPreview.sumtypeId }" /> <input id="dateOfAppear"
				name="dateOfAppear" type="hidden"
				th:value="${pdfPreview.appearDate }" /> <input id="summonNo"
				name="summonNo" type="hidden" th:value="${pdfPreview.summonNo }" />
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
				
				<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />  <input type="hidden" th:value="${officeOrderId}"
				id="officeOrderId" name="officeOrderId">
		</form>
	</div>



</body>
</html>